// Container Styling

html,
body {
	background-color: #181818;
	font-size: 62.5%;
	-webkit-text-size-adjust: none; /* 2 */
	-ms-text-size-adjust: none; /* 2 */
}

:focus {
	outline: 0;
}

.grid-container {
	max-width: 144rem;
	padding: 0;
}

main {
	position: relative;
	z-index: 2;
}

.page-template-page-resouces-list {
	main {
		margin-bottom: -30rem;
	}
}

// Text Styling

h1 {
	font-size: 5rem;
	line-height: 1;

	a {
		color: inherit;
		font: inherit;
	}
}

h2 {
	font-size: 3.5rem;
	line-height: 1;

	a {
		color: inherit;
		font: inherit;
	}
}

h3 {
	font-size: 2.5rem;
	line-height: 1;

	a {
		color: inherit;
		font: inherit;
	}
}

h4 {
	font-size: 2.2rem;
	line-height: 1;

	a {
		color: inherit;
		font: inherit;
	}
}

h5 {
	font-size: 2rem;
	line-height: 1;

	a {
		color: inherit;
		font: inherit;
	}
}

h6 {
	font-size: 1.8rem;
	line-height: 1;

	a {
		color: inherit;
		font: inherit;
	}
}

p {
	color: #262626;
	font-family: $font-montserrat-regular;
	font-size: 1.6rem;
	line-height: 1.6;
	margin-bottom: 3rem;

	@include breakpoint(small only) {
		font-size: 1.6rem;
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	a {
		color: #f9461c;
		font: inherit;
	}
}

a {
	color: #f9461c;

	&:hover {
		color: #f9461c;
	}
}

strong {
	color: #262626;
	font-family: $font-montserrat-bold;
	font-size: 1.6rem;
}

ul, ol {
	padding: 0;
	margin: 0;

	li {
		font-family: $font-montserrat-regular;
		font-size: 1.6rem;
		line-height: 1.6;

		a {
			color: #f9461c;
			font: inherit;
		}
	}
}

ol {
	li {
		list-style: decimal;
	}
}

form {
	position: relative;
}

input,
textarea {
	border-radius: 0;
	outline: none;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #000;
	}

	&::-moz-placeholder { /* Firefox 19+ */
		color: #000;
	}

	&:-ms-input-placeholder { /* IE 10+ */
		color: #000;
	}

	&:-moz-placeholder { /* Firefox 18- */
		color: #000;
	}

	&:focus {
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			opacity: 0;
		}

		&::-moz-placeholder { /* Firefox 19+ */
			opacity: 0;
		}

		&:-ms-input-placeholder { /* IE 10+ */
			opacity: 0;
		}

		&:-moz-placeholder { /* Firefox 18- */
			opacity: 0;
		}
	}
}

blockquote {
	padding: 0.5rem 1rem;
}

// Visibility Setting

.visuallyhidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 0.1rem !important; 
	width: 0.1rem !important; 
	overflow: hidden;
}

// Flexspace

.flexspace {
	&.desktop {
		@include breakpoint(medium down) {
			display: none;
		}
	}

	&.tablet {
		display: none;

		@include breakpoint(medium only) {
			display: block;
		}

		@include breakpoint(small only) {
			display: none;
		}
	}

	&.mobile {
		display: none;

		@include breakpoint(medium only) {
			display: none;
		}

		@include breakpoint(small only) {
			display: block;
		}
	}
}

// Dropanchor

.dropanchor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

// Image

img {
	-webkit-backface-visibility: hidden; /* Safari */
  	backface-visibility: hidden;
	max-width: 100%;
	width: auto;

	&:not([src]):not([srcset]) {
		visibility: hidden;
	}	
}

// Form

.form {
	&__input {
		input {
			background-color: transparent;
			border: 0;
			border-bottom: 0.1rem solid #262626;
	
			font-size: 1.5rem;
			padding: 1rem 0;
		}
	}

	&__submit {
		input {
			background-color: #2ACCFD;
			border: 0.1rem solid #2ACCFD;
			border-radius: 4rem;
			color: #fff;
			cursor: pointer;
	
			font-size: 1.5rem;
			min-width: 12.5rem;
			padding: 1rem;
		}
	}
}

// Contact Form 7

.screen-reader-response {
	display: none;
}

.wpcf7-response-output {
	font-family: $font-montserrat-regular;
	font-size: 1.4rem;
	line-height: 1.2;
	margin-top: 1rem;
}

.wpcf7-not-valid-tip {
	display: block;
	font-family: $font-montserrat-regular;
	font-size: 1.4rem;
	line-height: 1.2;
	margin-top: 1rem;
}

.wpcf7-response-output--invalid,
.wpcf7-response-output--failed,
.wpcf7-response-output--spam,
.wpcf7-not-valid-tip {
	color: #e62626;
}

.wpcf7-response-output--success {
	color: #00bf00;
}

// Bullet

.bullet {
	margin-top: 3rem;

	ul {
		margin-left: 3rem;

		li {
			font-family: $font-montserrat-regular;
			font-size: 1.6rem;
			list-style: none;
			margin-bottom: 1.5rem;
			position: relative;
			text-indent: -1.5rem;

			&:before {
				content: url('../../assets/images/check.svg');
				display: inline-block;
				margin-right: 1.5rem;
			}
		}
	}
}

.bullet--2-col {
	@include column-count(2);
	@include column-gap(10rem);

	@include breakpoint(large down) {
		@include column-gap(5rem);
	}

	@include breakpoint(small only) {
		@include column-count(1);
		@include column-gap(0);
	}
}