.default-content {
	$this: &;

	padding: 10rem 0;

	@include breakpoint(small only) {
		padding: 5rem 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #fff;
		font-family: $font-bebasneue-bold;
		font-size: 3rem;
		line-height: 1;
		margin-bottom: 0;

		* {
			color: inherit;
			font: inherit;
		}
	}

	h2 {
		font-size: 4.8rem;
	}

	h3 {
		font-size: 3.6rem;;
	}

	p,
	strong,
	li {
		color: #fff;

		a {
			border-bottom: 0.1rem solid #F9461C;
			color: #F9461C !important;
			display: inline !important;
			font-family: $font-montserrat-bold !important;
			text-decoration: none !important;
		}
	}

	ol,
	ul {
		margin-bottom: 0;
		margin-left: 1.5rem;
	}

	p {
		margin-bottom: 0;
	}
}