.footer {
	$this: &;

	background-color: #F9461C;
	padding: 5rem 0;

	&__logo {
		margin-bottom: 4rem;
	}

	&__social {
		margin-bottom: 2rem;

		li {
			color: #fff;
			display: inline-block;
			font-size: 2.4rem;
			line-height: 1;
			margin-right: 2rem;

			@include transition(all 0.4s ease);

			a {
				color: inherit;
				font: inherit;
				opacity: 1;

				@include transition(opacity 0.4s ease);

				&:hover {
					opacity: 0.5;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__copyright {
		p {
			font-family: $font-poppins-regular;
			font-size: 1.4rem;
			color: #fff;
			margin-bottom: 0;

			a {
				color: inherit;
				text-decoration: underline;
			}
		}
	}
}