.header {
	$this: &;

	background-color:rgba(24, 24, 24, 0);
	left: 0;
	padding: 2.5rem 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	@include transition(all 0.5s ease-out);

	.hamburger-active &,
	.onscroll & {
		background-color: rgba(24, 24, 24, 1);
	}

	@include breakpoint(large down) {
		height: 7.6rem;
	}

	&__menu {
		@include breakpoint(large down) {
			display: none;
		}

		li {
			color: #fff;
			display: inline-block;
			font-size: 1.8rem;
			font-family: $font-bebasneue-bold;
			letter-spacing: 0.1rem;
			line-height: 1;
			margin-right: 7rem;
			text-transform: uppercase;

			a {
				color: inherit;
				font: inherit;
			}

			&:last-child {
				margin-right: 0;
			}

			&.menu-item--button {
				a {
					@extend .button;
					
					font-size: 1.8rem;
				}
			}
		}
	}

	&__hamburger {
		display: none;
		cursor: pointer;

		@include breakpoint(large down) {
			display: block;
		}

		> div {
			height: 2.2rem;
			position: relative;
			width: 3.6rem;

			> div {
				background-color: #fff;
				height: 0.2rem;
				position: absolute;
				width: 100%;

				@include transition(all 0.4s ease-out);

				&:first-child {
					left: 50%;
					top: 0;

					@include transform(translate(-50%,0) rotate(0));

					.hamburger-active & {
						top: 50%;

						@include transform(translate(-50%,-50%) rotate(45deg));
					}
				}

				&:nth-child(2) {
					left: 50%;
					top: 50%;
					width: 100%;

					@include transform(translate(-50%,-50%));
					
					.hamburger-active & {
						width: 0;
					}
				}

				&:last-child {
					bottom: 0;
					left: 50%;

					@include transform(translate(-50%,0) rotate(0));

					.hamburger-active & {
						top: 50%;

						@include transform(translate(-50%,-50%) rotate(-45deg));
					}
				}
			}
		}
	}
}