.slide-menu {
	$this: &;

	background-color: #fff;
	height: 100%;
	left: 0;
	padding: 2rem 0;
	position: fixed;
	top: 7.6rem;
	width: 100%;
	z-index: 10;

	@include transition(transform 0.4s ease-out);
	@include transform(translateX(100%));

	.hamburger-active & {
		@include transform(translateX(0));
	}

	ul {
		margin: 0;
	}

	li {
		color: #000;
		font-family: $font-bebasneue-bold;
		font-size: 1.4rem;
		letter-spacing: 0.1rem;
		line-height: 1;
		list-style: none;
		margin-bottom: 1rem;
		text-align: center;
		text-transform: uppercase;

		a {
			color: inherit;
			font: inherit;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		&.menu-item--button {
			a {
				@extend .button;
				
				font-size: 1.4rem;
			}
		}
	}
}