// Fonts

$font-bebasneue-bold: 'Bebasneue-Bold', Helvetica, sans-serif;
$font-bebasneue-pro-bold: 'Bebasneue-Pro-Bold', Helvetica, sans-serif;
$font-poppins-regular: 'Poppins-Regular', Helvetica, sans-serif;
$font-montserrat-regular: 'Montserrat-Regular', Helvetica, sans-serif;
$font-montserrat-bold: 'Montserrat-Bold', Helvetica, sans-serif;
$font-montserrat-semibold: 'Montserrat-SemiBold', Helvetica, sans-serif;