.button {
	background-color: $orange;
	border: 0.1rem solid $orange;
	border-radius: 0;
	color: $white;
	display: inline-block;
	font-family: $font-gotham-medium;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	line-height: 1;
	padding: 1.5rem 3rem;
	text-transform: uppercase;

	@include transition(all 0.4s ease);

	&:hover {
		background-color: $white;
		color: $orange;
	}

	&:focus {
		color: $orange;
	}
}