// Fonts

$font-roboto-regular: 'Roboto-Regular', sans-serif;
$font-roboto-bold: 'Roboto-Bold', sans-serif;
$font-roboto-medium: 'Roboto-Medium', sans-serif;
$font-roboto-italic: 'Roboto-Italic', sans-serif;
$font-gotham-medium: 'Gotham-Medium', sans-serif;


//colors

$orange: #f15922;
$black : #000;
$white: #fff;