// Fonts

$font-austinnewsheadlineweb-semibd: 'AustinNewsHeadlineWeb-Semibd', sans-serif;
$font-roboto-regular: 'Roboto-Regular', sans-serif;
$font-roboto-bold: 'Roboto-Bold', sans-serif;
$font-roboto-medium: 'Roboto-Medium', sans-serif;
$font-roboto-italic: 'Roboto-Italic', sans-serif;
$font-ubuntu-bold: 'Ubuntu-Bold', sans-serif;
$font-ubuntu-medium: 'Ubuntu-Medium', sans-serif;
$font-ubuntu-regular: 'Ubuntu-Regular', sans-serif;


//colors

$yellow: #FEC628;
$black : #000;
$white: #fff;